# ensuring API key not distributed
sample2.txt
mykey.txt
workbook_archive/
analyticskey.txt
client_id.json

# Byte-compiled / optimized / DLL files
__pycache__/


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints


# mypy
.mypy_cache/
