# ensuring API key not distributed
sample2.txt
mykey.txt
analyticskey.txt
client_id.json
#Archives
workbook_archive/
/data/Archive
/data/classifieds/Archive
/data/engineered_data/Archive


# Byte-compiled / optimized / DLL files
__pycache__/


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints


# mypy
.mypy_cache/
